In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
from config import username, password, dbhost, dbport, dbname

In [2]:
connection_string = f'postgresql://{username}:{password}@{dbhost}:{dbport}/{dbname}'

engine = create_engine(connection_string)
conn = engine.connect()

In [3]:
bus_stops = pd.read_sql('select * from bus_stops', con=engine)
bus_stops

,objectid,description,identifier,latitude,longitude
0,10267,Troy Ave & State Ave,53234,39.722992,-86.131393
1,8733,18th St & Harding St,50382,39.791172,-86.186829
2,10301,Main St & 13th Ave,53274,39.721673,-86.096872
3,7589,10th St & Fenton Ave,10779,39.781917,-86.018228
4,8817,25th St & Hillside Ave,50511,39.803489,-86.123770
...,...,...,...,...,...
3421,7511,Sutherland Ave & Winthrop Ave,10583,39.815971,-86.137672
3422,10235,Prospect St & Spruce St,53159,39.752460,-86.134134
3423,9053,Washington St & Girls School Rd,50850,39.740719,-86.289354
3424,8029,Redfern Dr & Nikki Dr,11900,39.700809,-86.095982
3425,7542,10th St & Rural St,10717,39.781343,-86.116842

In [ ]:
# Export file to csv
final_claims_path = os.path.join('.', 'assets', 'Jobless Claims', 'unempl_claims.csv')
final_claims_df.to_csv(final_claims_path, header=True)

In [5]:
food_pantries = pd.read_sql('select * from food_pantries', con=engine)
food_pantries

,site_name,hours,zip,latitude,longitude
0,Mount Zion Suburban,Reservation Line: Mon-Fri 8am-4:30pm,46228,39.848169,-86.192302
1,EASTERN STAR CHURCH,None,46218,39.812263,-86.069643
2,Wheeler Mission Thrift Store,None,46225,39.726531,-86.152800
3,Sahm Park,None,46250,39.919747,-86.058799
4,Irvington Churches Advocacy Network - Downey A...,None,46219,39.768526,-86.076353
...,...,...,...,...,...
236,"Church of the Living Water, The",Monthly 3rd Sun 1pm-3pm,46219,39.770022,-86.008365
237,CARE Mobile Food Pantry - Save-A-Lot,"June 5-Aug 21, 2019, Wed 4pm-6pm",46201,39.767127,-86.103123
238,Sunrise Missionary Baptist Church,Vary,46202,39.792007,-86.141985
239,Ritter Avenue Free Methodist Church,Mon 5:30pm-7:30pm,46218,39.789994,-86.073456
240,Lakeview Church,Mon-Thurs 9am-noon and 1pm-5pm,46224,39.766625,-86.264266

In [6]:
neighborhoods = pd.read_sql('select * from neighborhoods', con=engine)
neighborhoods

,name,globalid,shapearea,shapelen
0,Speedway,{FF7C3508-4A9C-40AB-96BE-0CA02F3A6E56},1.327764e+08,54522.473320
1,Allisonville,{3C2FC136-DE1E-4781-BB3A-B8A216380010},1.255110e+08,51059.236455
2,Keystone at the Crossing,{B848B34E-D772-4249-A5AA-A2763DBCA5F5},5.567848e+07,43249.718432
3,Mars Hill,{78DAEF5D-2138-4512-AE48-9E126FCBCDDE},1.742815e+08,63498.042886
4,Glenns Valley,{9B657D71-875E-4877-BDDF-7D40C2D2CF2B},9.415928e+07,47272.486424
...,...,...,...,...
94,International Marketplace,{65AE0486-C931-429F-A797-A01CDA7078D9},3.557892e+07,25710.893001
95,Hill Valley,{31725910-F4E6-47B7-9928-CA080D0D9AD1},5.704819e+07,32075.445283
96,Galludet,{4F2D6151-B87F-45C0-AB09-AE590220CE77},2.050398e+08,59680.340683
97,Geist,{D21A7138-BE30-4B66-8420-75C81B3FBC4D},1.658570e+08,59816.697566
98,Southeast Warren,{149A9964-6778-4414-B606-A798F1449EF7},2.821510e+08,68012.021205

In [7]:
zip_code_boundaries = pd.read_sql('select * from zip_code_boundaries', con=engine)
zip_code_boundaries.count()

objectid     41
zipcode      41
shapearea    41
shapelen     41
dtype: int64

In [10]:
covid_counts = pd.read_sql('select * from covid_count', con=engine)
covid_counts

    zip_cd patient_count population percentage
0    46013          1793      17876    10.0302
1    47970           215       2034    10.5703
2    46798           113       1661     6.8031
3    46953          2398      24177     9.9185
4    47454           764       7688     9.9375
..     ...           ...        ...        ...
769  47273           165       1849     8.9237
770  46062          4145      29730    13.9421
771  47270             0          0          0
772  46147           316       3264     9.6813
773  46063             0          0          0

[774 rows x 4 columns]

In [12]:
covid_marion_county = pd.read_sql('select * from covid_marion_county', con=engine)
covid_marion_county

   zipcode     shapearea       shapelen patient_count population percentage
0    46234  3.215986e+08  143685.002300          2994      24810    12.0677
1    46107  8.234558e+07   81819.348920          1338      12774    10.4744
2    46208  1.863439e+08   97051.737590          2061      22239     9.2675
3    46241  6.954714e+08  182857.537400          2954      30670     9.6315
4    46228  1.995190e-03       0.259369          1392      14755      9.434
5    46228  2.233606e+08   80306.169850          1392      14755      9.434
6    46077  7.354458e+08  125920.259000          3133      24512    12.7814
7    46205  1.795098e+08  101533.876400          2589      25356    10.2106
8    46240  2.874953e+08   99800.129540          1861      18731     9.9354
9    46217  5.919598e+08  142234.477100          4396      29358    14.9737
10   46202  1.683416e+08  121518.213900          2270      16335    13.8965
11   46219  3.749997e+08  128436.316900          3263      33930     9.6168
12   46259  4.765343e+08  145721.525800          1540      11617    13.2564
13   46221  5.748632e+08  189648.957200          2764      26393    10.4724
14   46203  3.970186e+08  186008.310700          3552      38950     9.1193
15   46239  8.105933e+08  186837.897400          3766      25345    14.8589
16   46260  2.846344e+08  103972.254500          3146      32406      9.708
17   46236  3.198372e+08  164876.409500          2764      27294    10.1267
18   46250  2.144589e+08   78326.372050          1939      18546     10.455
19   46237  4.094005e+08  149170.255300          5192      39624    13.1031
20   46254  3.570396e+08  115904.883400          4011      38095    10.5289
21   46229  3.090813e+08  119436.199800          2850      27262    10.4541
22   46113  4.241668e+08  127628.266800          1793      14063    12.7497
23   46278  3.707580e+08  112515.484200           840       8197    10.2476
24   46225  1.189996e+08   77056.705950           579       7319     7.9109
25   46226  3.883659e+08  136832.087900          3870      43904     8.8146
26   46183  3.460277e+06   10770.673400             0          0          0
27   46268  3.624760e+08  117095.411600          2475      24965     9.9138
28   46227  4.593066e+08  120461.245100          6865      57086    12.0257
29   46222  3.233972e+08  108768.114100          3557      34044    10.4482
30   46224  1.977343e+08   82196.558770          3961      35094    11.2868
31   46204  3.233591e+07   54438.828340          1288       5125    25.1317
32   46216  9.555774e+07   48925.656340           205       1697    12.0801
33   46214  2.063171e+08   97621.433160          2785      24306     11.458
34   46231  3.217048e+08  144265.491100          1236      10440     11.839
35   46256  3.582640e+08  150516.984600          2221      23647     9.3923
36   46220  3.394485e+08  125021.366400          3385      34830     9.7186
37   46201  1.526814e+08   75221.664130          2604      30962     8.4103
38   46235  2.444700e+08  132947.355800          3198      30825    10.3746
39   46218  2.679664e+08  102742.821700          2532      29028     8.7226
40   46206  7.160803e+05    3856.189747          None       None       None

In [13]:
covid_marion_county['patient_count'] = covid_marion_county['patient_count'].astype(str)

In [14]:
covid_marion_county['population'] = covid_marion_county['population'].astype(str)

In [15]:
covid_marion_county['percentage'] = covid_marion_county['percentage'].astype(str)

In [16]:
covid_marion_county.replace({'patient_count':'nan'},{'patient_count':'0'},inplace=True)
covid_marion_county.replace({'population':'nan'},{'population':'0'},inplace=True)
covid_marion_county.replace({'percentage':'nan'},{'percentage':'0'},inplace=True)
covid_marion_county

   zipcode     shapearea       shapelen patient_count population percentage
0    46234  3.215986e+08  143685.002300          2994      24810    12.0677
1    46107  8.234558e+07   81819.348920          1338      12774    10.4744
2    46208  1.863439e+08   97051.737590          2061      22239     9.2675
3    46241  6.954714e+08  182857.537400          2954      30670     9.6315
4    46228  1.995190e-03       0.259369          1392      14755      9.434
5    46228  2.233606e+08   80306.169850          1392      14755      9.434
6    46077  7.354458e+08  125920.259000          3133      24512    12.7814
7    46205  1.795098e+08  101533.876400          2589      25356    10.2106
8    46240  2.874953e+08   99800.129540          1861      18731     9.9354
9    46217  5.919598e+08  142234.477100          4396      29358    14.9737
10   46202  1.683416e+08  121518.213900          2270      16335    13.8965
11   46219  3.749997e+08  128436.316900          3263      33930     9.6168
12   46259  4.765343e+08  145721.525800          1540      11617    13.2564
13   46221  5.748632e+08  189648.957200          2764      26393    10.4724
14   46203  3.970186e+08  186008.310700          3552      38950     9.1193
15   46239  8.105933e+08  186837.897400          3766      25345    14.8589
16   46260  2.846344e+08  103972.254500          3146      32406      9.708
17   46236  3.198372e+08  164876.409500          2764      27294    10.1267
18   46250  2.144589e+08   78326.372050          1939      18546     10.455
19   46237  4.094005e+08  149170.255300          5192      39624    13.1031
20   46254  3.570396e+08  115904.883400          4011      38095    10.5289
21   46229  3.090813e+08  119436.199800          2850      27262    10.4541
22   46113  4.241668e+08  127628.266800          1793      14063    12.7497
23   46278  3.707580e+08  112515.484200           840       8197    10.2476
24   46225  1.189996e+08   77056.705950           579       7319     7.9109
25   46226  3.883659e+08  136832.087900          3870      43904     8.8146
26   46183  3.460277e+06   10770.673400             0          0          0
27   46268  3.624760e+08  117095.411600          2475      24965     9.9138
28   46227  4.593066e+08  120461.245100          6865      57086    12.0257
29   46222  3.233972e+08  108768.114100          3557      34044    10.4482
30   46224  1.977343e+08   82196.558770          3961      35094    11.2868
31   46204  3.233591e+07   54438.828340          1288       5125    25.1317
32   46216  9.555774e+07   48925.656340           205       1697    12.0801
33   46214  2.063171e+08   97621.433160          2785      24306     11.458
34   46231  3.217048e+08  144265.491100          1236      10440     11.839
35   46256  3.582640e+08  150516.984600          2221      23647     9.3923
36   46220  3.394485e+08  125021.366400          3385      34830     9.7186
37   46201  1.526814e+08   75221.664130          2604      30962     8.4103
38   46235  2.444700e+08  132947.355800          3198      30825    10.3746
39   46218  2.679664e+08  102742.821700          2532      29028     8.7226
40   46206  7.160803e+05    3856.189747             0          0          0

In [9]:
unemploy = pd.read_sql('select * from unemploy', con=engine)
unemploy

,index,year,month,timeframe,month_code,week,continued_claims,cont_pct_change_same_wk_last_year,init_claims,init_pct_change_same_wk_last_year
0,93,2019,October,2019 October,10,42,2161,-3.60%,378,7.70%
1,17,2018,May,2018 May,5,18,2692,-27.10%,343,-33.30%
2,143,2020,October,2020 October,10,40,20010,831.60%,2277,567.70%
3,106,2020,January,2020 January,1,3,2925,0.80%,468,-25.90%
4,113,2020,March,2020 March,3,10,2935,1.10%,298,-14.90%
...,...,...,...,...,...,...,...,...,...,...
177,114,2020,March,2020 March,3,11,3028,9.00%,425,39.80%
178,38,2018,September,2018 September,9,39,2322,-9.20%,254,-26.40%
179,171,2021,April,2021 April,4,16,7618,-75.00%,15718,49.60%
180,39,2018,October,2018 October,10,40,2298,-8.10%,321,-26.40%
181,14,2018,April,2018 April,4,15,2941,-21.90%,433,-1.10%