In [3]:
import os
import pandas as pd
from sqlalchemy import create_engine
from config import username, password, dbhost, dbport, dbname

In [4]:
connection_string = f'postgresql://{username}:{password}@{dbhost}:{dbport}/{dbname}'

engine = create_engine(connection_string)
conn = engine.connect()

#### ADDED A CONFIG.PY TO BOTH LEVELS OF THE PROJECT WHILE TESTING (IN INDY FOLDER AND IN MAIN)

In [5]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
Base = automap_base()
Base.prepare(engine, reflect=True)

In [6]:
from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)

In [7]:
Unemploy = Base.classes.unemploy_clean

In [7]:
Base.classes.keys()

['unempl_claims',
 'marion_county_zips',
 'covid_count_per_zip_all',
 'indy_neighborhoods',
 'zip_code_boundry',
 'bus_clean',
 'unemploy_clean']

In [8]:
session = Session(engine)
results = session.query(Unemploy).all()
results

[<sqlalchemy.ext.automap.unemploy_clean at 0x2a44bda9130>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bda9190>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc44c0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4520>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4580>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc45e0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4640>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc46a0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4700>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4760>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc47c0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4820>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4880>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc48e0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4940>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc49a0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4a00>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4a60>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4a90>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4b20>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4bb0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4c40>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4cd0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4d60>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4df0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4e80>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4f10>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdc4fa0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb070>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb100>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb190>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb220>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb2b0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb340>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb3d0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb460>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb4f0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb580>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb610>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb6a0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb730>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb7c0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb850>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb8e0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcb970>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcba00>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcba90>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcbb20>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcbbb0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcbc40>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcbcd0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcbd60>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcbdf0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcbe80>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcbf10>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdcbfa0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1070>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1100>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1190>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1220>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd12b0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1340>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd13d0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1460>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd14f0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1580>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1610>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd16a0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1730>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd17c0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1850>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd18e0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1970>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1a00>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1a90>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1b20>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1bb0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1c40>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1cd0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1d60>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1df0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1e80>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1f10>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd1fa0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9070>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9100>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9190>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9220>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd92b0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9340>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd93d0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9460>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd94f0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9580>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9610>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd96a0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9730>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd97c0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9850>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd98e0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9970>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9a00>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9a90>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9b20>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9bb0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9c40>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9cd0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9d60>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9df0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9e80>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9f10>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdd9fa0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0070>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0100>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0190>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0220>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde02b0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0340>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde03d0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0460>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde04f0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0580>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0610>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde06a0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0730>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde07c0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0850>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde08e0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0970>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0a00>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0a90>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0b20>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0bb0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0c40>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0cd0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0d60>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0df0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0e80>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0f10>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde0fa0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5070>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5100>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5190>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5220>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde52b0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5340>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde53d0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5460>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde54f0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5580>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5610>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde56a0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5730>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde57c0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5850>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde58e0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5970>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5a00>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5a90>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5b20>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5bb0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5c40>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5cd0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5d60>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5df0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5e80>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5f10>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bde5fa0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdec070>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdec100>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdec190>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdec220>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdec2b0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdec340>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdec3d0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdec460>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdec4f0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdec580>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdec610>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdec6a0>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdec730>,
 <sqlalchemy.ext.automap.unemploy_clean at 0x2a44bdec7c0>]

In [14]:
session = Session(engine)
results = session.query(Unemploy.index, Unemploy.init_claims).all()
results

[(0, 739.0),
 (1, 781.0),
 (2, 539.0),
 (3, 540.0),
 (4, 470.0),
 (5, 500.0),
 (6, 396.0),
 (7, 362.0),
 (8, 399.0),
 (9, 397.0),
 (10, 400.0),
 (11, 374.0),
 (12, 351.0),
 (13, 483.0),
 (14, 433.0),
 (15, 364.0),
 (16, 325.0),
 (17, 343.0),
 (18, 375.0),
 (19, 366.0),
 (20, 383.0),
 (21, 305.0),
 (22, 436.0),
 (23, 539.0),
 (24, 403.0),
 (25, 340.0),
 (26, 387.0),
 (27, 394.0),
 (28, 336.0),
 (29, 336.0),
 (30, 351.0),
 (31, 352.0),
 (32, 368.0),
 (33, 276.0),
 (34, 359.0),
 (35, 313.0),
 (36, 331.0),
 (37, 342.0),
 (38, 254.0),
 (39, 321.0),
 (40, 394.0),
 (41, 351.0),
 (42, 308.0),
 (43, 303.0),
 (44, 398.0),
 (45, 440.0),
 (46, 291.0),
 (47, 471.0),
 (48, 443.0),
 (49, 450.0),
 (50, 432.0),
 (51, 405.0),
 (52, 530.0),
 (53, 751.0),
 (54, 632.0),
 (55, 474.0),
 (56, 522.0),
 (57, 453.0),
 (58, 419.0),
 (59, 383.0),
 (60, 310.0),
 (61, 350.0),
 (62, 304.0),
 (63, 300.0),
 (64, 260.0),
 (65, 353.0),
 (66, 355.0),
 (67, 322.0),
 (68, 336.0),
 (69, 343.0),
 (70, 305.0),
 (71, 325.0),
 (72, 295.0),
 (73, 324.0),
 (74, 365.0),
 (75, 338.0),
 (76, 347.0),
 (77, 329.0),
 (78, 285.0),
 (79, 421.0),
 (80, 327.0),
 (81, 304.0),
 (82, 337.0),
 (83, 349.0),
 (84, 300.0),
 (85, 289.0),
 (86, 290.0),
 (87, 291.0),
 (88, 325.0),
 (89, 346.0),
 (90, 281.0),
 (91, 341.0),
 (92, 394.0),
 (93, 378.0),
 (94, 318.0),
 (95, 319.0),
 (96, 384.0),
 (97, 367.0),
 (98, 399.0),
 (99, 244.0),
 (100, 417.0),
 (101, 567.0),
 (102, 481.0),
 (103, 371.0),
 (104, 453.0),
 (105, 591.0),
 (106, 468.0),
 (107, 420.0),
 (108, 416.0),
 (109, 410.0),
 (110, 382.0),
 (111, 348.0),
 (112, 324.0),
 (113, 298.0),
 (114, 425.0),
 (115, 10173.0),
 (116, 13546.0),
 (117, 13603.0),
 (118, 15285.0),
 (119, 10510.0),
 (120, 8493.0),
 (121, 7596.0),
 (122, 5377.0),
 (123, 5844.0),
 (124, 5240.0),
 (125, 4572.0),
 (126, 4650.0),
 (127, 5308.0),
 (128, 6507.0),
 (129, 11115.0),
 (130, 4633.0),
 (131, 0.0),
 (132, 5322.0),
 (133, 6338.0),
 (134, 2925.0),
 (135, 2193.0),
 (136, 2741.0),
 (137, 2276.0),
 (138, 2177.0),
 (139, 2515.0),
 (140, 2899.0),
 (141, 3080.0),
 (142, 2494.0),
 (143, 2277.0),
 (144, 17133.0),
 (145, 4190.0),
 (146, 3015.0),
 (147, 2655.0),
 (148, 2665.0),
 (149, 2932.0),
 (150, 3771.0),
 (151, 3951.0),
 (152, 7213.0),
 (153, 4819.0),
 (154, 3068.0),
 (155, 2501.0),
 (156, 2313.0),
 (157, 15914.0),
 (158, 4063.0),
 (159, 3653.0),
 (160, 4371.0),
 (161, 4451.0),
 (162, 3560.0),
 (163, 3193.0),
 (164, 3893.0),
 (165, 4408.0),
 (166, 5579.0),
 (167, 5055.0),
 (168, 4484.0),
 (169, 3613.0),
 (170, 21924.0),
 (171, 15718.0),
 (172, 4934.0),
 (173, 2899.0),
 (174, 2519.0),
 (175, 1932.0),
 (176, 1726.0),
 (177, 1476.0),
 (178, 1270.0),
 (179, 1311.0),
 (180, 1410.0),
 (181, 1451.0)]

In [15]:
{ key:value for key, value in results}

{0: 739.0,
 1: 781.0,
 2: 539.0,
 3: 540.0,
 4: 470.0,
 5: 500.0,
 6: 396.0,
 7: 362.0,
 8: 399.0,
 9: 397.0,
 10: 400.0,
 11: 374.0,
 12: 351.0,
 13: 483.0,
 14: 433.0,
 15: 364.0,
 16: 325.0,
 17: 343.0,
 18: 375.0,
 19: 366.0,
 20: 383.0,
 21: 305.0,
 22: 436.0,
 23: 539.0,
 24: 403.0,
 25: 340.0,
 26: 387.0,
 27: 394.0,
 28: 336.0,
 29: 336.0,
 30: 351.0,
 31: 352.0,
 32: 368.0,
 33: 276.0,
 34: 359.0,
 35: 313.0,
 36: 331.0,
 37: 342.0,
 38: 254.0,
 39: 321.0,
 40: 394.0,
 41: 351.0,
 42: 308.0,
 43: 303.0,
 44: 398.0,
 45: 440.0,
 46: 291.0,
 47: 471.0,
 48: 443.0,
 49: 450.0,
 50: 432.0,
 51: 405.0,
 52: 530.0,
 53: 751.0,
 54: 632.0,
 55: 474.0,
 56: 522.0,
 57: 453.0,
 58: 419.0,
 59: 383.0,
 60: 310.0,
 61: 350.0,
 62: 304.0,
 63: 300.0,
 64: 260.0,
 65: 353.0,
 66: 355.0,
 67: 322.0,
 68: 336.0,
 69: 343.0,
 70: 305.0,
 71: 325.0,
 72: 295.0,
 73: 324.0,
 74: 365.0,
 75: 338.0,
 76: 347.0,
 77: 329.0,
 78: 285.0,
 79: 421.0,
 80: 327.0,
 81: 304.0,
 82: 337.0,
 83: 349.0,
 84: 300.0,
 85: 289.0,
 86: 290.0,
 87: 291.0,
 88: 325.0,
 89: 346.0,
 90: 281.0,
 91: 341.0,
 92: 394.0,
 93: 378.0,
 94: 318.0,
 95: 319.0,
 96: 384.0,
 97: 367.0,
 98: 399.0,
 99: 244.0,
 100: 417.0,
 101: 567.0,
 102: 481.0,
 103: 371.0,
 104: 453.0,
 105: 591.0,
 106: 468.0,
 107: 420.0,
 108: 416.0,
 109: 410.0,
 110: 382.0,
 111: 348.0,
 112: 324.0,
 113: 298.0,
 114: 425.0,
 115: 10173.0,
 116: 13546.0,
 117: 13603.0,
 118: 15285.0,
 119: 10510.0,
 120: 8493.0,
 121: 7596.0,
 122: 5377.0,
 123: 5844.0,
 124: 5240.0,
 125: 4572.0,
 126: 4650.0,
 127: 5308.0,
 128: 6507.0,
 129: 11115.0,
 130: 4633.0,
 131: 0.0,
 132: 5322.0,
 133: 6338.0,
 134: 2925.0,
 135: 2193.0,
 136: 2741.0,
 137: 2276.0,
 138: 2177.0,
 139: 2515.0,
 140: 2899.0,
 141: 3080.0,
 142: 2494.0,
 143: 2277.0,
 144: 17133.0,
 145: 4190.0,
 146: 3015.0,
 147: 2655.0,
 148: 2665.0,
 149: 2932.0,
 150: 3771.0,
 151: 3951.0,
 152: 7213.0,
 153: 4819.0,
 154: 3068.0,
 155: 2501.0,
 156: 2313.0,
 157: 15914.0,
 158: 4063.0,
 159: 3653.0,
 160: 4371.0,
 161: 4451.0,
 162: 3560.0,
 163: 3193.0,
 164: 3893.0,
 165: 4408.0,
 166: 5579.0,
 167: 5055.0,
 168: 4484.0,
 169: 3613.0,
 170: 21924.0,
 171: 15718.0,
 172: 4934.0,
 173: 2899.0,
 174: 2519.0,
 175: 1932.0,
 176: 1726.0,
 177: 1476.0,
 178: 1270.0,
 179: 1311.0,
 180: 1410.0,
 181: 1451.0}

In [6]:
bus_stops = pd.read_sql('select * from bus_stops', con=engine)
bus_stops

,objectid,description,identifier,latitude,longitude
0,10267,Troy Ave & State Ave,53234,39.722992,-86.131393
1,8733,18th St & Harding St,50382,39.791172,-86.186829
2,10301,Main St & 13th Ave,53274,39.721673,-86.096872
3,7589,10th St & Fenton Ave,10779,39.781917,-86.018228
4,8817,25th St & Hillside Ave,50511,39.803489,-86.123770
...,...,...,...,...,...
3421,7511,Sutherland Ave & Winthrop Ave,10583,39.815971,-86.137672
3422,10235,Prospect St & Spruce St,53159,39.752460,-86.134134
3423,9053,Washington St & Girls School Rd,50850,39.740719,-86.289354
3424,8029,Redfern Dr & Nikki Dr,11900,39.700809,-86.095982
3425,7542,10th St & Rural St,10717,39.781343,-86.116842

Below, from ETL jupyter notebook

In [25]:
# Export file to csv
bus_path = os.path.join('.', 'assets', 'Clean', 'bus_clean.csv')
bus_stops.to_csv(bus_path, header=True, index=False)

In [8]:
food_pantries = pd.read_sql('select * from food_pantries', con=engine)
food_pantries

,site_name,hours,zip,latitude,longitude
0,Mount Zion Suburban,Reservation Line: Mon-Fri 8am-4:30pm,46228,39.848169,-86.192302
1,EASTERN STAR CHURCH,None,46218,39.812263,-86.069643
2,Wheeler Mission Thrift Store,None,46225,39.726531,-86.152800
3,Sahm Park,None,46250,39.919747,-86.058799
4,Irvington Churches Advocacy Network - Downey A...,None,46219,39.768526,-86.076353
...,...,...,...,...,...
236,"Church of the Living Water, The",Monthly 3rd Sun 1pm-3pm,46219,39.770022,-86.008365
237,CARE Mobile Food Pantry - Save-A-Lot,"June 5-Aug 21, 2019, Wed 4pm-6pm",46201,39.767127,-86.103123
238,Sunrise Missionary Baptist Church,Vary,46202,39.792007,-86.141985
239,Ritter Avenue Free Methodist Church,Mon 5:30pm-7:30pm,46218,39.789994,-86.073456
240,Lakeview Church,Mon-Thurs 9am-noon and 1pm-5pm,46224,39.766625,-86.264266

In [26]:
# Export file to csv
food_path = os.path.join('.', 'assets', 'Clean', 'food_clean.csv')
food_pantries.to_csv(food_path, header=True, index=False)

In [10]:
neighborhoods = pd.read_sql('select * from neighborhoods', con=engine)
neighborhoods

,name,globalid,shapearea,shapelen
0,Speedway,{FF7C3508-4A9C-40AB-96BE-0CA02F3A6E56},1.327764e+08,54522.473320
1,Allisonville,{3C2FC136-DE1E-4781-BB3A-B8A216380010},1.255110e+08,51059.236455
2,Keystone at the Crossing,{B848B34E-D772-4249-A5AA-A2763DBCA5F5},5.567848e+07,43249.718432
3,Mars Hill,{78DAEF5D-2138-4512-AE48-9E126FCBCDDE},1.742815e+08,63498.042886
4,Glenns Valley,{9B657D71-875E-4877-BDDF-7D40C2D2CF2B},9.415928e+07,47272.486424
...,...,...,...,...
94,International Marketplace,{65AE0486-C931-429F-A797-A01CDA7078D9},3.557892e+07,25710.893001
95,Hill Valley,{31725910-F4E6-47B7-9928-CA080D0D9AD1},5.704819e+07,32075.445283
96,Galludet,{4F2D6151-B87F-45C0-AB09-AE590220CE77},2.050398e+08,59680.340683
97,Geist,{D21A7138-BE30-4B66-8420-75C81B3FBC4D},1.658570e+08,59816.697566
98,Southeast Warren,{149A9964-6778-4414-B606-A798F1449EF7},2.821510e+08,68012.021205

In [27]:
# Export file to csv
neighborhoods_path = os.path.join('.', 'assets', 'Clean', 'neighborhoods_clean.csv')
neighborhoods.to_csv(neighborhoods_path, header=True, index=False)

In [12]:
zip_code_boundaries = pd.read_sql('select * from zip_code_boundaries', con=engine)
zip_code_boundaries.count()

objectid     41
zipcode      41
shapearea    41
shapelen     41
dtype: int64

In [28]:
# Export file to csv
zip_path = os.path.join('.', 'assets', 'Clean', 'zip_clean.csv')
zip_code_boundaries.to_csv(zip_path, header=True, index=False)

In [14]:
covid_counts = pd.read_sql('select * from covid_count', con=engine)
covid_counts

    zip_cd patient_count population percentage
0    46013          1793      17876    10.0302
1    47970           215       2034    10.5703
2    46798           113       1661     6.8031
3    46953          2398      24177     9.9185
4    47454           764       7688     9.9375
..     ...           ...        ...        ...
769  47273           165       1849     8.9237
770  46062          4145      29730    13.9421
771  47270             0          0          0
772  46147           316       3264     9.6813
773  46063             0          0          0

[774 rows x 4 columns]

In [17]:
covid_marion_county = pd.read_sql('select * from covid_marion_county', con=engine)
covid_marion_county

   zipcode     shapearea       shapelen patient_count population percentage
0    46234  3.215986e+08  143685.002300          2994      24810    12.0677
1    46107  8.234558e+07   81819.348920          1338      12774    10.4744
2    46208  1.863439e+08   97051.737590          2061      22239     9.2675
3    46241  6.954714e+08  182857.537400          2954      30670     9.6315
4    46228  1.995190e-03       0.259369          1392      14755      9.434
5    46228  2.233606e+08   80306.169850          1392      14755      9.434
6    46077  7.354458e+08  125920.259000          3133      24512    12.7814
7    46205  1.795098e+08  101533.876400          2589      25356    10.2106
8    46240  2.874953e+08   99800.129540          1861      18731     9.9354
9    46217  5.919598e+08  142234.477100          4396      29358    14.9737
10   46202  1.683416e+08  121518.213900          2270      16335    13.8965
11   46219  3.749997e+08  128436.316900          3263      33930     9.6168
12   46259  4.765343e+08  145721.525800          1540      11617    13.2564
13   46221  5.748632e+08  189648.957200          2764      26393    10.4724
14   46203  3.970186e+08  186008.310700          3552      38950     9.1193
15   46239  8.105933e+08  186837.897400          3766      25345    14.8589
16   46260  2.846344e+08  103972.254500          3146      32406      9.708
17   46236  3.198372e+08  164876.409500          2764      27294    10.1267
18   46250  2.144589e+08   78326.372050          1939      18546     10.455
19   46237  4.094005e+08  149170.255300          5192      39624    13.1031
20   46254  3.570396e+08  115904.883400          4011      38095    10.5289
21   46229  3.090813e+08  119436.199800          2850      27262    10.4541
22   46113  4.241668e+08  127628.266800          1793      14063    12.7497
23   46278  3.707580e+08  112515.484200           840       8197    10.2476
24   46225  1.189996e+08   77056.705950           579       7319     7.9109
25   46226  3.883659e+08  136832.087900          3870      43904     8.8146
26   46183  3.460277e+06   10770.673400             0          0          0
27   46268  3.624760e+08  117095.411600          2475      24965     9.9138
28   46227  4.593066e+08  120461.245100          6865      57086    12.0257
29   46222  3.233972e+08  108768.114100          3557      34044    10.4482
30   46224  1.977343e+08   82196.558770          3961      35094    11.2868
31   46204  3.233591e+07   54438.828340          1288       5125    25.1317
32   46216  9.555774e+07   48925.656340           205       1697    12.0801
33   46214  2.063171e+08   97621.433160          2785      24306     11.458
34   46231  3.217048e+08  144265.491100          1236      10440     11.839
35   46256  3.582640e+08  150516.984600          2221      23647     9.3923
36   46220  3.394485e+08  125021.366400          3385      34830     9.7186
37   46201  1.526814e+08   75221.664130          2604      30962     8.4103
38   46235  2.444700e+08  132947.355800          3198      30825    10.3746
39   46218  2.679664e+08  102742.821700          2532      29028     8.7226
40   46206  7.160803e+05    3856.189747          None       None       None

In [18]:
covid_marion_county['patient_count'] = covid_marion_county['patient_count'].astype(str)

In [19]:
covid_marion_county['population'] = covid_marion_county['population'].astype(str)

In [20]:
covid_marion_county['percentage'] = covid_marion_county['percentage'].astype(str)

In [21]:
covid_marion_county.replace({'patient_count':'nan'},{'patient_count':'0'},inplace=True)
covid_marion_county.replace({'population':'nan'},{'population':'0'},inplace=True)
covid_marion_county.replace({'percentage':'nan'},{'percentage':'0'},inplace=True)
covid_marion_county

   zipcode     shapearea       shapelen patient_count population percentage
0    46234  3.215986e+08  143685.002300          2994      24810    12.0677
1    46107  8.234558e+07   81819.348920          1338      12774    10.4744
2    46208  1.863439e+08   97051.737590          2061      22239     9.2675
3    46241  6.954714e+08  182857.537400          2954      30670     9.6315
4    46228  1.995190e-03       0.259369          1392      14755      9.434
5    46228  2.233606e+08   80306.169850          1392      14755      9.434
6    46077  7.354458e+08  125920.259000          3133      24512    12.7814
7    46205  1.795098e+08  101533.876400          2589      25356    10.2106
8    46240  2.874953e+08   99800.129540          1861      18731     9.9354
9    46217  5.919598e+08  142234.477100          4396      29358    14.9737
10   46202  1.683416e+08  121518.213900          2270      16335    13.8965
11   46219  3.749997e+08  128436.316900          3263      33930     9.6168
12   46259  4.765343e+08  145721.525800          1540      11617    13.2564
13   46221  5.748632e+08  189648.957200          2764      26393    10.4724
14   46203  3.970186e+08  186008.310700          3552      38950     9.1193
15   46239  8.105933e+08  186837.897400          3766      25345    14.8589
16   46260  2.846344e+08  103972.254500          3146      32406      9.708
17   46236  3.198372e+08  164876.409500          2764      27294    10.1267
18   46250  2.144589e+08   78326.372050          1939      18546     10.455
19   46237  4.094005e+08  149170.255300          5192      39624    13.1031
20   46254  3.570396e+08  115904.883400          4011      38095    10.5289
21   46229  3.090813e+08  119436.199800          2850      27262    10.4541
22   46113  4.241668e+08  127628.266800          1793      14063    12.7497
23   46278  3.707580e+08  112515.484200           840       8197    10.2476
24   46225  1.189996e+08   77056.705950           579       7319     7.9109
25   46226  3.883659e+08  136832.087900          3870      43904     8.8146
26   46183  3.460277e+06   10770.673400             0          0          0
27   46268  3.624760e+08  117095.411600          2475      24965     9.9138
28   46227  4.593066e+08  120461.245100          6865      57086    12.0257
29   46222  3.233972e+08  108768.114100          3557      34044    10.4482
30   46224  1.977343e+08   82196.558770          3961      35094    11.2868
31   46204  3.233591e+07   54438.828340          1288       5125    25.1317
32   46216  9.555774e+07   48925.656340           205       1697    12.0801
33   46214  2.063171e+08   97621.433160          2785      24306     11.458
34   46231  3.217048e+08  144265.491100          1236      10440     11.839
35   46256  3.582640e+08  150516.984600          2221      23647     9.3923
36   46220  3.394485e+08  125021.366400          3385      34830     9.7186
37   46201  1.526814e+08   75221.664130          2604      30962     8.4103
38   46235  2.444700e+08  132947.355800          3198      30825    10.3746
39   46218  2.679664e+08  102742.821700          2532      29028     8.7226
40   46206  7.160803e+05    3856.189747             0          0          0

In [29]:
# Export file to csv
covid_path = os.path.join('.', 'assets', 'Clean', 'covid_clean.csv')
covid_marion_county.to_csv(covid_path , header=True, index=False)

In [23]:
unemploy = pd.read_sql('select * from unemploy', con=engine)
unemploy

,index,year,month,timeframe,month_code,week,continued_claims,cont_pct_change_same_wk_last_year,init_claims,init_pct_change_same_wk_last_year
0,93,2019,October,2019 October,10,42,2161,-3.60%,378,7.70%
1,17,2018,May,2018 May,5,18,2692,-27.10%,343,-33.30%
2,143,2020,October,2020 October,10,40,20010,831.60%,2277,567.70%
3,106,2020,January,2020 January,1,3,2925,0.80%,468,-25.90%
4,113,2020,March,2020 March,3,10,2935,1.10%,298,-14.90%
...,...,...,...,...,...,...,...,...,...,...
177,114,2020,March,2020 March,3,11,3028,9.00%,425,39.80%
178,38,2018,September,2018 September,9,39,2322,-9.20%,254,-26.40%
179,171,2021,April,2021 April,4,16,7618,-75.00%,15718,49.60%
180,39,2018,October,2018 October,10,40,2298,-8.10%,321,-26.40%
181,14,2018,April,2018 April,4,15,2941,-21.90%,433,-1.10%

In [30]:
# Export file to csv
unemploy_path = os.path.join('.', 'assets', 'Clean', 'unemploy_clean.csv')
unemploy.to_csv(unemploy_path , header=True, index=False)