In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
from config import username, password, dbhost, dbport, dbname

In [2]:
connection_string = f'postgresql://{username}:{password}@{dbhost}:{dbport}/{dbname}'

engine = create_engine(connection_string)
conn = engine.connect()

In [6]:
bus_stops = pd.read_sql('select * from bus_stops', con=engine)
bus_stops

,objectid,description,identifier,latitude,longitude
0,10487,Meridian/38th Station NB,70017,39.824626,-86.156758
1,9065,W Perimeter Rd & Bridgeport Rd,50879,39.700779,-86.319655
2,9929,Illinois St & 39th St,52564,39.826824,-86.159305
3,9703,30th St & Hovey St,51955,39.810776,-86.132475
4,9092,MLK St & I-65 117 Ramp C,50917,39.811184,-86.174294
...,...,...,...,...,...
3421,7373,38th St & Kenwood Ave,10360,39.824953,-86.159637
3422,8027,Redfern Dr & Denny St,11898,39.700675,-86.100072
3423,9894,Township Line Rd & Summer Dr,52510,39.908237,-86.202984
3424,7286,42nd St & Post Rd,10227,39.833301,-86.010588
3425,7527,Alabama St & Michigan St,10608,39.773539,-86.152485

In [5]:
covid_counts = pd.read_sql('select * from covid_count', con=engine)
covid_counts

    zip_cd patient_count population percentage
0    46013          1793      17876    10.0302
1    47970           215       2034    10.5703
2    46798           113       1661     6.8031
3    46953          2398      24177     9.9185
4    47454           764       7688     9.9375
..     ...           ...        ...        ...
768  47273           165       1849     8.9237
769  46062          4145      29730    13.9421
770  47270             0          0          0
771  46147           316       3264     9.6813
772  46063             0          0          0

[773 rows x 4 columns]

In [7]:
food_pantries = pd.read_sql('select * from food_pantries', con=engine)
food_pantries

,site_name,hours,zip,latitude,longitude
0,Westminster Neighborhood Services - New York S...,None,46201,39.771414,-86.122142
1,Rhodius Park And Family Center,None,46221,39.7541541,-86.191199
2,Windsor Village Park And Family Center,None,46219,39.8042603,-86.0546731
3,Anna's House,Tues-Thurs 9am-2pm,46222,39.7716859,-86.1934911
4,"Faith, Hope And Love Community",None,46208,39.8286575,-86.1585634
...,...,...,...,...,...
236,Cathedral Kitchen,Vary,46202,39.7855969,-86.1561363
237,The Church of Lord Jesus Christ,Vary,46221,39.745721,-86.1941068
238,Hawthorne Community Center,None,46222,39.7676962,-86.2017526
239,Broad Ripple Park And Family Center,None,46220,39.869868,-86.1331122
240,Stephen Decatur Elementary School,None,46221,39.7122024,-86.2289745

In [8]:
neighborhoods = pd.read_sql('select * from neighborhoods', con=engine)
neighborhoods

,name,globalid,shapearea,shapelen
0,Speedway,{FF7C3508-4A9C-40AB-96BE-0CA02F3A6E56},1.327764e+08,54522.473320
1,Allisonville,{3C2FC136-DE1E-4781-BB3A-B8A216380010},1.255110e+08,51059.236455
2,Keystone at the Crossing,{B848B34E-D772-4249-A5AA-A2763DBCA5F5},5.567848e+07,43249.718432
3,Mars Hill,{78DAEF5D-2138-4512-AE48-9E126FCBCDDE},1.742815e+08,63498.042886
4,Glenns Valley,{9B657D71-875E-4877-BDDF-7D40C2D2CF2B},9.415928e+07,47272.486424
...,...,...,...,...
94,International Marketplace,{65AE0486-C931-429F-A797-A01CDA7078D9},3.557892e+07,25710.893001
95,Hill Valley,{31725910-F4E6-47B7-9928-CA080D0D9AD1},5.704819e+07,32075.445283
96,Galludet,{4F2D6151-B87F-45C0-AB09-AE590220CE77},2.050398e+08,59680.340683
97,Geist,{D21A7138-BE30-4B66-8420-75C81B3FBC4D},1.658570e+08,59816.697566
98,Southeast Warren,{149A9964-6778-4414-B606-A798F1449EF7},2.821510e+08,68012.021205

In [12]:
zip_code_boundries = pd.read_sql('select * from zip_code_boundries', con=engine)
zip_code_boundries.count()

objectid     41
zipcode      41
shapearea    41
shapelen     41
dtype: int64

In [13]:
covid_marion_county = pd.read_sql('select * from covid_marion_county', con=engine)
covid_marion_county

   zipcode    shapearea     shapelen patient_count population percentage
0    46228   0.00199519  0.259369304          1392      14755      9.434
1    46278  370758033.2  112515.4842           840       8197    10.2476
2    46239  810593263.1  186837.8974          3766      25345    14.8589
3    46218  267966448.2  102742.8217          2532      29028     8.7226
4    46227    459306604  120461.2451          6865      57086    12.0257
5    46236  319837238.4  164876.4095          2764      27294    10.1267
6    46107     82345580  81819.34892          1338      12774    10.4744
7    46240  287495252.8  99800.12954          1861      18731     9.9354
8    46214    206317137  97621.43316          2785      24306     11.458
9    46268  362476021.6  117095.4116          2475      24965     9.9138
10   46235  244469989.3  132947.3558          3198      30825    10.3746
11   46231  321704805.9  144265.4911          1236      10440     11.839
12   46203  397018588.7  186008.3107          3552      38950     9.1193
13   46225  118999630.8  77056.70595           579       7319     7.9109
14   46077  735445771.4   125920.259          3133      24512    12.7814
15   46256  358264009.6  150516.9846          2221      23647     9.3923
16   46228  223360606.1  80306.16985          1392      14755      9.434
17   46219  374999709.7  128436.3169          3263      33930     9.6168
18   46205  179509793.7  101533.8764          2589      25356    10.2106
19   46241  695471417.8  182857.5374          2954      30670     9.6315
20   46113  424166779.7  127628.2668          1793      14063    12.7497
21   46259    476534270  145721.5258          1540      11617    13.2564
22   46201  152681363.6  75221.66413          2604      30962     8.4103
23   46250  214458891.5  78326.37205          1939      18546     10.455
24   46260  284634374.7  103972.2545          3146      32406      9.708
25   46221  574863227.4  189648.9572          2764      26393    10.4724
26   46224  197734277.3  82196.55877          3961      35094    11.2868
27   46234    321598574  143685.0023          2994      24810    12.0677
28   46206  716080.3324  3856.189747          None       None       None
29   46202  168341611.1  121518.2139          2270      16335    13.8965
30   46229  309081253.7  119436.1998          2850      27262    10.4541
31   46222  323397157.4  108768.1141          3557      34044    10.4482
32   46226    388365899  136832.0879          3870      43904     8.8146
33   46217  591959764.2  142234.4771          4396      29358    14.9737
34   46216  95557744.84  48925.65634           205       1697    12.0801
35   46183  3460276.694   10770.6734             0          0          0
36   46237  409400525.9  149170.2553          5192      39624    13.1031
37   46208  186343873.1  97051.73759          2061      22239     9.2675
38   46254  357039568.2  115904.8834          4011      38095    10.5289
39   46204  32335908.16  54438.82834          1288       5125    25.1317
40   46220  339448508.6  125021.3664          3385      34830     9.7186

In [16]:
covid_marion_county['patient_count'] = covid_marion_county['patient_count'].astype(str)

In [19]:
covid_marion_county['population'] = covid_marion_county['population'].astype(str)

In [20]:
covid_marion_county['percentage'] = covid_marion_county['percentage'].astype(str)

In [22]:
covid_marion_county.replace({'patient_count':'nan'},{'patient_count':'0'},inplace=True)
covid_marion_county.replace({'population':'nan'},{'population':'0'},inplace=True)
covid_marion_county.replace({'percentage':'nan'},{'percentage':'0'},inplace=True)
covid_marion_county

   zipcode    shapearea     shapelen patient_count population percentage
0    46228   0.00199519  0.259369304          1392      14755      9.434
1    46278  370758033.2  112515.4842           840       8197    10.2476
2    46239  810593263.1  186837.8974          3766      25345    14.8589
3    46218  267966448.2  102742.8217          2532      29028     8.7226
4    46227    459306604  120461.2451          6865      57086    12.0257
5    46236  319837238.4  164876.4095          2764      27294    10.1267
6    46107     82345580  81819.34892          1338      12774    10.4744
7    46240  287495252.8  99800.12954          1861      18731     9.9354
8    46214    206317137  97621.43316          2785      24306     11.458
9    46268  362476021.6  117095.4116          2475      24965     9.9138
10   46235  244469989.3  132947.3558          3198      30825    10.3746
11   46231  321704805.9  144265.4911          1236      10440     11.839
12   46203  397018588.7  186008.3107          3552      38950     9.1193
13   46225  118999630.8  77056.70595           579       7319     7.9109
14   46077  735445771.4   125920.259          3133      24512    12.7814
15   46256  358264009.6  150516.9846          2221      23647     9.3923
16   46228  223360606.1  80306.16985          1392      14755      9.434
17   46219  374999709.7  128436.3169          3263      33930     9.6168
18   46205  179509793.7  101533.8764          2589      25356    10.2106
19   46241  695471417.8  182857.5374          2954      30670     9.6315
20   46113  424166779.7  127628.2668          1793      14063    12.7497
21   46259    476534270  145721.5258          1540      11617    13.2564
22   46201  152681363.6  75221.66413          2604      30962     8.4103
23   46250  214458891.5  78326.37205          1939      18546     10.455
24   46260  284634374.7  103972.2545          3146      32406      9.708
25   46221  574863227.4  189648.9572          2764      26393    10.4724
26   46224  197734277.3  82196.55877          3961      35094    11.2868
27   46234    321598574  143685.0023          2994      24810    12.0677
28   46206  716080.3324  3856.189747             0          0          0
29   46202  168341611.1  121518.2139          2270      16335    13.8965
30   46229  309081253.7  119436.1998          2850      27262    10.4541
31   46222  323397157.4  108768.1141          3557      34044    10.4482
32   46226    388365899  136832.0879          3870      43904     8.8146
33   46217  591959764.2  142234.4771          4396      29358    14.9737
34   46216  95557744.84  48925.65634           205       1697    12.0801
35   46183  3460276.694   10770.6734             0          0          0
36   46237  409400525.9  149170.2553          5192      39624    13.1031
37   46208  186343873.1  97051.73759          2061      22239     9.2675
38   46254  357039568.2  115904.8834          4011      38095    10.5289
39   46204  32335908.16  54438.82834          1288       5125    25.1317
40   46220  339448508.6  125021.3664          3385      34830     9.7186